<p>add-product works!</p>

<h2>HTML Forms</h2>
<form>
    <input type="number" name="cloth_Id" [(ngModel)]="cloth_Id"><br>
    <input type="text"  name="cloth_name" [(ngModel)]="cloth_name"><br>
    <input type="text"  name="cloth_desc" [(ngModel)]="cloth_desc"><br>
    <input type="number" name="cloth_price" [(ngModel)]="cloth_price"><br>
    <input type="number" name="cloth_quantity" [(ngModel)]="cloth_quantity"><br>
    <input type="text" name="cloth_image"[(ngModel)]="cloth_image"><br>
    <button class="a" (click)="addProduct()"></button>
</form>