img {
    width: 30%;
}

.inline{
    margin: 6px;
    display: inline-block;
}

.card {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.h1 {
    width: 20%;
    align-content: center;
    margin: auto;
}